{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdBridge Advertiser</title>
  <link rel="stylesheet" href="{% static 'logg/css/adv.css' %}">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
          <a href = "/login/adv/">
            <h1>AdBridge <span>Advertiser</span></h1>
          </a>
      </div>
      <nav>
        <a href="/login/postform/">Post</a>
        <a href="/mypage">My Page</a>
      </nav>
    </header>

    <div class="ad-list">
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>인플루언서 1</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>인플루언서 2</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>인플루언서 3</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>인플루언서 4</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
    </div>
  </div>
</body>
</html>
