{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>
  <link rel="stylesheet" href="{% static 'logg/css/inf.css'%}">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <!-- 'AdBridge' 클릭 시 /login/inf로 리디렉션 -->
        <a href="/login/inf">
          <h1>AdBridge <span>Influencer</span></h1>
        </a>
      </div>

      <nav>
        <a href="/mypage">My Page</a>
      </nav>
    </header>

    <div class="ad-list">
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
      <div class="ad-item">
        <div class="ad-image"></div>
        <p>광고 제목</p>
        <p>패션</p>
      </div>
    </div>
  </div>
</body>
</html>
