/* Global Style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 300px;
    background: #ffffff;
    padding: 20px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.sidebar .header h1 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin: 0;
}

.sidebar .header h1 span {
    font-weight: normal;
    color: #888;
    font-size: 18px;
    margin-left: 5px;
}

.sidebar h2 {
    font-size: 16px;
    margin: 20px 0 10px;
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar label {
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.sidebar input[type="checkbox"] {
    margin-right: 10px;
}

/* Main Content */
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-header h1 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.top-header h1 span {
    font-weight: normal;
    color: #888;
    font-size: 18px;
    margin-left: 5px;
}

.top-header nav {
    font-size: 16px;
}

.top-header .my-page-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Advertisement List */
.ad-list-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ad-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ad-item {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 1px solid #ddd;

}

.ad-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.ad-title {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
    font-weight: bold;
}
.ad-item p{
    text-align:left;
}
.ad-min_budget {
    font-size: 13px;
    color: #888;
}
